
<footer style="vertical-align: bottom; font-size: 7px;" : >
    <p>footer of webside ig</p>
    <p>Author: Lennart Heisig</p>
    <p>sadly I cant place it at the actuall bottom of the page :c</p>
    
</footer>
