<footer>
    <p>all of this is based on the cookieshop tutorial but I just used it to do something myself :DD</p>
    <p>Author: Lennart Heisig</p>
    (muss man noch ans ende der seite und klein machen nh)

    <br>
    <p>sadly I didnt manage to convert it to my own webside but I will do that in the following week :c</p>
    
</footer>
