<header>

    <nav>
      <a href="/">Home</a>&nbsp;|&nbsp;
      <a href="/about">About</a>&nbsp;|&nbsp;
      <a href="/ideas">Shop</a>&nbsp;|&nbsp;
      <a href="/test">be aware of this one</a>
    </nav>
  </header>