<!DOCTYPE html>
<html lang="en">
<%- include('includes/head(error)') %>

<body>
  <main class="center">
    <div class="red">
        An error accoured!!<br>
        You are getting redirected!!
    </div>
    <br>
    <img src="/images/alertIMG.png" alt="alertIMG">
  </main>

    <script>
        setTimeout(function () {
        window.location = "/";
        }, 5000)
    </script>
  
</body>
</html>