<!DOCTYPE html>
<html lang="en">
<%- include('includes/head(styles)', {title: 'Home | Ideationheaven'}) %>

<body>
  
  <div class="selection">
    <%- include('includes/header(navi)') %>
  </div>
  <main class="center">
    <p style="color: white; font-size: 4.5cm;">IDEATION HEAVEN</p>
    <p style="color: white; font-size: 2cm;">Collect your Ideas as easy as possible</p>
  </main>

  <%- include('includes/footer') %>
</body>
</html>