<!DOCTYPE html>
<html lang="en">
<head>
    <title> TEST TEST TEST </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles(navi).css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <div class="center">
    <%- include('includes/header', {header: 'idk how to name that'}) %>
  </div>
  <div class="selection">
    <%- include('includes/header(navi)') %>
  </div>
  <div class="container">
  
    
    <main>
      <p>wElComE tO mY tEsTiNgPaGe</p>
      <p>This is in honor of my first css design :DD</p>
      <p>the quality of my css skill have not improved :c</p>
      <a href="/coolpage" class="highlight">appreciation</a>
    </main>
  </div>

  <%- include('includes/footer') %>
</body>
</html>