html{
    height: 100%;
}

body{
    height: 100%;
    background-image: linear-gradient(to top left, rgb(0, 255, 89), rgb(255, 0, 0));
}
  

h1 {
    font-family: serif;
}

.container {
    display: flex;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.highlight {
    font-size: x-large;
}

.highlight:hover{
    background-color: red;
    text-align: center;
}


@media (max-width: 768px) and (min-width: 601px){
    html, body{
        background-image: linear-gradient(to top left, white, black);
    }

    .highlight{
        background-image: linear-gradient(to top left, white, black);
    }


}

@media (max-width: 600px) {
    html, body{
        background-image: linear-gradient(to bottom right, red, black);
    }

    .highlight:hover{
        background-color: hotpink;
    }
    
}
