.body{
    height: 100%
}

.selection {
    font-size: 18px;
    font-family: sans-serif;
    color: black;
    padding: 15px;
    background-color: lightgray;
    margin: auto;
    text-align: center;

}

.selection:hover {
    text-shadow: 0 0 9px gray;
}